<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
</head>
<body>
<h2>Create your custom graph</h2>

<form name="f" method="GET">
    <p>Choose a layer</p>
    <select name="layer" onchange="update_link();update_field();">
    {% for lyrname in layer %}
        <option value="{{ lyrname }}">{{ lyrname }}</option>
    {% endfor %}
    </select>
    <p>Choose category field</p>
    <select name="category" onchange="update_link();">
    {% for fieldname in fieldnames %}
        <option value="{{ fieldname }}">{{ fieldname }}</option>
    {% endfor %}
    </select>
    <p>Choose quantity field</p>
    <select name="quantity" onchange="update_link();">
    {% for fieldname in num_fieldnames %}
        <option value="{{ fieldname }}">{{ fieldname }}</option>
    {% endfor %}
    </select>
    <br>
    <br>
    <a href="/table?lyrname={{ layer }}" id="link">Build Chart</a>
</form>
<script>
function update_link()
    {
    var url = '' ;
    url = url + '/table?lyrname=' + document.f.layer.value;
    url = url + '&category=' + document.f.category.value;
    url = url + '&quantity=' + document.f.quantity.value;
    document.getElementById('link').href = url;
    return;
    }
function update_field(){
    var field_url = '/table/fields?lyrname=' + document.f.layer.value;
}

</script>
</body>
</html>