<h1>Field choice</h1>
<p>Choose category field</p>

<form name="f">
    <select name="category" onchange="update_link();">
    {% for fieldname in fieldnames %}
        <option value="{{ fieldname }}">{{ fieldname }}</option>
    {% endfor %}
    </select>
    <p>Choose quantity field</p>
    <select name="quantity" onchange="update_link();">
    {% for fieldname in num_fieldnames %}
        <option value="{{ fieldname }}">{{ fieldname }}</option>
    {% endfor %}
    </select>
    <p>Do you want to aggregates data?</p>
    <input type="radio" name="aggregates" value="0" checked>No<br>
    <input type="radio" name="aggregates" value="1" >Yes<br>
    <br>
    <p>Chart type</p>
    <select name="chart_type">
        <option value="bar">Bar chart</option>
        <option value="bar">Pie chart</option>
        <option value="bar">Donut chart</option>
    </select>
    <br>
    <a href="/table?lyrname={{ lyrname }}" id="link">Build Chart</a>
</form>
<div id="area_grafico"></div>
<script src="/static/chart.js"></script>
<script src="/static/csv.js"></script>